<div class="bg-primary-color wrapper">
  <div class="header" fxLayout.xs="column">
    <mat-icon>assignment</mat-icon>
    <div class="person-primary-info">
      <p class="title">{{ project.title[0].title }}</p>
      <p class="sub-title">
        {{
          project.creator[0].creatorName +
            " " +
            project.creator[0].givenName +
            " " +
            project.creator[0].familyName
        }}
      </p>
      <p class="sub-title">
        {{
          project.identifiers[0].idtype + ": " + project.identifiers[0].value
        }}
      </p>
    </div>
  </div>
</div>

<div
  fxLayout="row"
  fxLayoutAlign="center center"
  style="border-radius: 40px 40px 0 0"
>
  <div
    [ngStyle.xs]="{ width: '95%' }"
    style="
      margin-top: -100px;
      width: 90%;
      background-color: white;
      border-radius: 40px 40px 0 0;
      box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.088);
    "
  >
    <router-outlet></router-outlet>
  </div>
</div>
